/* general style */
body {
    background-color: white;
    /*background-image: "assets/images/rock-paper-scissors-2-1241086.jpg";*/
    background: url('../images/rock-paper-scissors-2-1241086.jpg') no-repeat center center;
    color: black;
    margin: 0px;
    padding: 0px;
    max-width: 100wv;
    font-family: Verdana, "Times New Roman";
    text-decoration: none;
}
header {
    margin-top: 0px;
    padding: 0px 10px;/*20px 10px;*/
    max-width: inherit;
}
/*div {
    padding: 0px;
}*/
.headerfooter {
    background-color: darkslategrey;
    color: ghostwhite;
}
header > div {
    display: inline-block;
    position: relative;
    padding: 0px;
}
.btn-size {
    padding: 0px;
}

/* button design */
.btn-size {
    width: 40vw;
}
.btn {
    background-color: floralwhite;
    width: 150px;
    height: 50px;
    padding: 1px;
    margin: 4px 2px;
    display: inline-block;

    border: none;
    border-radius: 10px;

    color: darkslategrey;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;
}

.btn-anykeyicon {
    position: relative;
    max-height: 40px;
    height: inherit;
    display: inline-block;
}

header > div {
    position: relative;
    /*top: -15px;*/
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
header > div > div{
    display:inline-block;
    padding:0px;
    height:60px;
}
.btn-rules > a {
    text-decoration: none;
    color: darkslategray;
}
.btn-anykey > div {
    top: -25px; 
}
.fa-solid {
    font-size: 40px;
}

.btn-index-img {
    height:30px;
    font-size: 35px;
}

/* game area design */
#gamespace {
    background-color: #f9f6eeb3;
    padding: 5px 2px;
    height: 300px;
}
.hand {
    display: inline-block; 
    padding: 5px 0px;
    
}
.select {
    width: 90vw;
}
   
div.pc {
    position: absolute;
    top: 240px;
    left: 5px;
    width: 48%;
    text-align: center;
}
div.your {
    position: absolute;
    top: 240px;
    right: 5px;
    width: 48%;
    text-align: center;
}
/*.pc > div{
    position: relative;
    top: 0px;
}*/
.your > div > span {
    display: inline-block;
}
#inputTextField {
    display: none;
}
.btn-playerid {
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
}
#player-name-save {
    font-size: 16px;
}

.your > i, img {
    border-radius: 5px;
}
.pc > i, img {
    border-radius: 5px;
}
.select {
    text-align: center;
}
/* take silent class out when functional*/
#hideplayer {
    display:inline-block;
}
.change-player-name {
    position: absolute;
    top: 10px;
    right: 20%;
    z-index: 999;
}
.result {
    position: absolute;
    top: 20px;
    width: 100%;
    left: -10%;
}
#activeplayer {
    display: none;
    position:absolute;
    top: 380px;
    width: 100%;
}
.gamehand {
    vertical-align:-webkit-baseline-middle;
    height: 75px;
    width: 75px;
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    color: black;
}

.fa-regular {
    font-size: 60px;
    font-weight: normal;
}

.noicon {
    position: relative;
    vertical-align:-webkit-baseline-middle;
}
.noicon-showhand {
    max-height: 60px;
    position: absolute;
    top: 0px;
    left: 38%;
}
.gamehand > img {
    max-height: 100%;
}

/* score sheet */
#scoresheet {
    background-color:darkslategrey;
    color: rgba(249, 246, 238,1);
}

/* rule book */
#phone {
    display: none;
}
#wideview {
    display: inline-block;
}
#rules {
    background-color: rgba(249, 246, 238, .7);
    /*background: background: url('../images/rock-paper-scissors-2-1241086.jpg') no-repeat center center;*/
}

#rules > h2 {
    margin-top: 0px;
    padding: 10px 20px;
}
td > .fa-regular, img {
    font-size: 1rem;
    max-height: 16px;
}

/* footer */
#tracker {
    display: none;
}
#timer {
    display: none;
}

/* smartphone aspect ratio */
@media (max-width: 420px) {
    header {
        font-size: smaller;
        text-align: center;
        height:232px;
        
    }
    .btn {
        width: 140px;
    }
    .gamehand {
        height: 50px;
        width: 50px;
    }
    .fa-regular {
        font-size: 40px;
    }
    .noicon-showhand {
        max-height: 40px;
    }
    .btn-playerid {
        width: 20px;
        height: 20px;
    }
    #player-name-save {
        font-size: 16px;
    }
    /* rule book */
    #phone {
        display: inline-block;
    }
    #wideview {
        display: none;
    }
        td .fa-regular,img {
        font-size: 1rem;
        max-height: 16px;
    }
}
