/* general style */
body {
    background-color: white;
    color:black;
    margin: 0px;
    padding: 0px;

    font-family: Verdana, "Times New Roman";
}

.headerfooter {
    background-color: darkslategrey;
    color:ghostwhite;
}
header > div > div {
    display: inline-block;
    color: green;
}
/* button design */
.btn {
    background-color: magenta;
    width: 150px;
    height: 50px;
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-anykey {
    max-height: 50px;
}