/* general style */
body {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;

    font-family: Verdana, "Times New Roman";
}

.headerfooter {
    background-color: darkslategrey;
    color: ghostwhite;
}
header > div + div{
    text-align:justify;
    vertical-align: -webkit-baseline-middle;
}
header>div>div {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}

/* button design */
.btn {
    background-color: floralwhite;
    width: 300px;
    height: 50px;
    padding: 1px;
    margin: 4px 2px;
    display: inline-block;

    border: none;
    border-radius: 10px;

    color: darkslategrey;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;
}

.btn-anykeyicon {
    position: relative;
    max-height: 100%;
    height: inherit;
    display: inline-block;
}

.btn>p {
    position: relative;
    top: -15px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
.btn-anykey > p {
    top: -25px;
    
}

.fa-solid {
    font-size: 45px;
}
/* game area design */
.hand {
    display: inline-block;
}
.pc {
    width: 45%;
    text-align: center;
}
.pc {
    padding: 5px 0px;
}
.pc > div{
    position: relative;
    top: 0px;
}
.your > div > span {
    display: inline-block;
}
#inputTextField {
    display: none;
}
.btn-playerid {
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
}
.fa-pen-to-square {
    font-size: 16px;
}
.your {
    text-align: center;
    width: 45%;

}
/* take silent class out when functional*/
#hideplayer {
    display: inline-block;
}
#activeplayer {
    display: none;
}
.gamehand {
    vertical-align:-webkit-baseline-middle;
    background-color:antiquewhite;
    height: 75px;
    width: 75px;
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    color: black;
}
.fa-regular {
    font-size: 60px;
    font-weight: normal;
}
.noicon {
    position: relative;
    vertical-align:-webkit-baseline-middle;
}
.gamehand > img {
    max-height: 100%;
}

/* score sheet */
#scoresheet {
    background-color:darkslategrey;
}
#tracker {
    display: block;
}